# Gods On Chain Curation Report #{{header.compilationNumber}}

<div class=text-justify>

![GU.png](https://files.peakd.com/file/peakd-hive/ocd/23wMMgrgeJeYVBpN1bfjHjxwaCTYhkfM92gt1WquSAezsteBq1XpWTACazr7DzEAM5hwT.png)

<h2><center>**Welcome to the {{header.compilationNumber}}th issue of Gods On Chain Curation Report!**</center></h2>

Hello everyone! This is our curation effort, aiming to highlight good reads published on the Gods On Chain Hive Community. These represent some of the best content that our authors published during the {{header.fortnight}} of {{header.month}} 2025.
    
We encourage you to give these articles a read and show these great God on Chainers your support and encouragement, perhaps by commenting on their posts. Engagement is what makes the community thrive, so we hope that you are taking the time to visit each other's posts.

{{#each posts}}
![Compilation Divider.png](https://files.peakd.com/file/peakd-hive/agrante/23tbD2c2P2Leh2C6yJjGmLfCjsWoYQkP8CUjXJ2aY9RePdzxXp1Beoax18mw1zGRpQ2Kx.png)

| Author | Post Title |
| -------- | -------- |
| @{{author}} | [{{title}}]({{URL}}) |
<p></p>

{{comment}}

[![{{title}}]({{coverImage}})]({{URL}})

> {{{preview}}}...

{{/each}}
![Compilation Divider.png](https://files.peakd.com/file/peakd-hive/agrante/23tbD2c2P2Leh2C6yJjGmLfCjsWoYQkP8CUjXJ2aY9RePdzxXp1Beoax18mw1zGRpQ2Kx.png)

<center><h6>Subscribe to the Gods Unchained Community:</h6>

https://hive.blog/created/hive-173286
https://peakd.com/c/hive-173286/created
https://ecency.com/created/hive-173286

![image.png](https://files.peakd.com/file/peakd-hive/agrante/EqFwpD7BoKg6JHuQw4vkcjsMydBg2VtdspvHF2HhD2L1wxRFEcUgYpCuWpzZ4x5MsWR.png)
</center>

<center><h2>OCD Has a Hive Witness ... @OCD-Witness!</h2>
### You can vote for @ocd-witness, with [Peakd](https://peakd.com/me/witnesses) or on [Hive Witnesses](https://wallet.hive.blog/~witnesses).
</n>
### @ocdb supports community curation!</center>
</div>

#### Join our [Discord channel for more information](https://discord.gg/UBaYKQRA)